.events-cards {
    padding: 0% 5%;
}

.events-card-1 img,
.events-card-2 img,
.events-card-3 img {
    width: 100%;
}

.events-card-2 img,
.events-card-3 img {
    padding-top: 30px;
}

/* -----Media Queries ----- */
@media(min-width: 770px) {
    .events-cards {
        display: flex;
    }

    .events-card-1,
    .events-card-2,
    .events-card-3  {
        margin: 10px;
    }

    .events-card-2 img,
    .events-card-3 img {
    padding-top: 0px;
    }
}

@media(min-width: 1024px) {
    .events-cards {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0% 0%;
    }
}