button {
    border: none;
}

.story-image-container {
    background-image: url('../../images/home/HomePage-Hero-Img2.jpg');
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.story-of-the-restaurant .text-container h1 {
    font-size: 30px;
    margin-top: 2px;
}

.story-of-the-restaurant .text-container p {
    margin-bottom: 35px;
}

.left-column {
    display: none;
    min-width: 112px;
}

/* -----Media Queries ----- */

@media(min-width: 765px) {
    .story-of-the-restaurant .text-container h1  {
        font-size: 35px;
    }
}

@media(min-width: 1025px) {
    .left-column {
        display: block;
    }

    .story-of-the-restaurant {
        display: flex;
    }

    .story-of-the-restaurant .text-container {
        align-items: center;
    }


    .story-image-container {
        height: 725px;
        width: 50%;
    }
}
